.section {
  padding: 8rem;
  display: flex;
  gap: 2rem;

  .text {
    color: white;
  }

  .image {
    width: 36rem;
  }
}

.section-row {
  flex-direction: row;
}

.section-reverse {
  flex-direction: row-reverse;
}
